.post_watch {
    .hero-unit {
        padding: 2% 0% 2% 0%;
        border-bottom:  1px solid $light-gray;
    }

    .info {
        text-align: left;

        .title , .description , .tags , .rating {
            color: #f00;
        }
    }

    .metadata {
        @include span-columns(12);
        @include omega();

        .comments {
            margin-top: 60px;
        }
    }
}
