.post_watch {
    text-align: left;

      //    /__/\   __ /__/\   __  /__/\     /__/\
      //    \__\/ /__/\\__\/ /__/\ \__\/     \__\/      ------- >>>>>>
      //          \__\/ \__\/\__\/
    .masthead {
        text-align: left;
        @include row();
        overflow: hidden;
        margin-bottom: 30px;

        h1 {
            @include span-columns(8);
            text-transform: uppercase;
            font-size: 3em;
            text-overflow: ellipsis;
            line-height: 1.0em;
        }

        .action-buttons {
            float: right;

            a {
                @include inline-block;
            }

            .upvote {
                @include square-button($blue);
            }

            .downvote {
                @include square-button($red);
            }
        }
    }

    /*
     * Video Player
     */
    .hero-unit {
        margin: 2% 0% 2% 0%;

        border-top:  3px dashed $light-gray;
        border-bottom:  3px dashed $light-gray;
    }

    .info {
        .title , .description , .tags , .rating {
            color: #f00;
        }
    }


    /*
     * Comments and so on
     */
    .metadata {
        clear: both;
        height: 100%;

        .comments {
            margin-top: 60px;
        }
    }

    clear: both;
}
