<!-- Watch a single post -->
<template name="post_watch">
<div class="post_watch">
  <div class="masthead">
      <h1>{{title}}</h1>
      <div class="action-buttons button-group">
          <a href="/upvote" class="upvote">up</a>
          <a href="/downvote" class="downvote">downvote</a>
      </div>
  </div>
  <div class="hero-unit video-container">
    {{> video media.[0]}}
  </div>
  <div class="info">
    <p>{{description}}</p>
    <p>{{tags}}</p>

    <div class="rating"></div>
  </div>

  <div class="metadata">
    <div class="comments">
        {{> disqus_comments title=title}}
    </div>
  </div>
</div>
</template>

