@mixin square-button ( $bt_color ) {
    cursor: pointer;
    @include transition (all 0.25s $ease-in-out-circ);
    background: $bt_color;
    color: white;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .5em .5em;

    border: 2px solid transparent;

    &:hover {
      background: lighten($bt_color, 10);
      border: 2px solid white;
    }
}
