$line-height: 22px;
$video-color: red;
$data-color: green;
$shader-color: blue;
$width: 1000px;
$black: #000;
$white: #efefef;
$red: rgb(255, 63, 63);

$helvetica: "PT Sans";

$base-font: 'PT Sans';
$base-font-weight: 200;

$heading-font: 'PT Sans';
$heading-font-weight: 400;

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;
