// Typography
$helvetica:  'Oswald', 'Helvetica Neue', serif;
$sans-serif: 'Megrim', 'Questrial', sans-serif;
$serif: 'Sanchez', serif;
$monospace:   Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;

$base-font-family: $sans-serif;
$base-font-weight: 300;

$header-font-family: $helvetica;
$header-font-weight: 800;

// Sizes
$base-font-size: 1.0em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(0);


// Colors
$blue: #5333B0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #EEE;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$pink: #E5297B;
$light-pink: #D733DD;
$green: darken($light-green, 30);
$red: darken($light-red, 30);

// Background Color
$base-background-color: black;

// Font Colors
$base-font-color: #fff;
$base-accent-color: $pink;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-green;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: none; //inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: none; //$form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: 1.0em;
$form-font-family: $base-font-family;


// Enable visual-grid (edebugging)
$medium-screen: em(640);
$large-screen: em(1088);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4 );
$large-screen-up: new-breakpoint(min-width $large-screen 8 );

$max-width: 100%;
