@import "variables.scss";
@import "packages/bourbon/bourbon";
@import "packages/bitters/base/base";
@import "packages/neat/neat";

@import "packages/bbfc:refills/refills/video.scss";
@import "packages/bbfc:refills/refills/modal.scss";

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}


body,html {
  background: $black;
  font-family: $base-font;
  font-weight: $base-font-weight;
  font-size: 16px;
  height: 100%;
  @include prefixer(font-smoothing, antialiased, webkit moz spec);

  line-height: $line-height;
  letter-spacing: 1px;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 18px;
  font-size: 24px;
  vertical-align: top;
  font-family: $heading-font;
  font-weight: $heading-font-weight;
}

img {
  @include user-select(none);
}

a {
    &:link, &:visited {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid #bbb;
    }

    &:hover, &:active {
        border-bottom: 2px solid $white;
    }

    &.nostyle {
        text-decoration: none;
        border-bottom: 0px;
    }
}




@import "_header.scss";







/*

|                        |
|    ,---.,   .,---..   .|---
|    ,---||   ||   ||   ||
`---'`---^`---|`---'`---'`---'
          `---'
*/


.container[role="main"] {
    @include outer-container;

    width: 80%;
    padding-top: $navigation-height;
}







/*

 Footer

 */
.footer {
    @include outer-container;
}




@import "_404.scss";


