@import "packages/bourbon/bourbon";
@import "packages/neat/neat";

@import "client/stylesheet/_variables.scss";
@import "packages/bitters/base/base";

@import "packages/bbfc:refills/refills/video.scss";
@import "packages/bbfc:refills/refills/modal.scss";

@import "client/stylesheet/_buttons.scss";


body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}

img {
  @include user-select(none);
}

a {
    &:link, &:visited {
        text-decoration: none;
        border-bottom: 1px solid $light-gray;
    }

    &:hover, &:active {
        border-bottom: 2px solid $dark-gray;
    }

    &.nostyle {
        text-decoration: none;
        border-bottom: 0px;
    }
}




@import "_header.scss";







/*

|                        |
|    ,---.,   .,---..   .|---
|    ,---||   ||   ||   ||
`---'`---^`---|`---'`---'`---'
          `---'
*/


.container[role="main"] {
    @include outer-container;

    width: 90%;
    text-align: center;
    padding-top: $navigation-height;
}



@import "client/components/grid/_grid";
@import "client/components/upload/_upload";





/*

 Footer

 */
.footer {
    @include outer-container;
}




@import "_404.scss";


