<!-- Upload Modal -->
<template name="modal_upload">
  <div class="modal">
    <input class="modal-state" id="modal-upload" type="checkbox" />
    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-upload"></label>
        {{>upload}}
      </div>
    </div>
  </div>
</template>


<template name="upload">
  <div class="upload">
      <h1>Submit video</h1>

      <fieldset>
          {{#with post=preview_post}}
            {{#autoForm collection="Models.Post" type="update" doc=post id="PostUploadPreview"}}
                <div class="url-previewer">
                {{> afQuickField  name="url"}}
                </div>
                {{#if preview_post}}
                    {{> post_preview_form context=post}}
                {{/if}}
            {{/autoForm}}
          {{/with}}
      </fieldset>
      <button type="submit" class="submit btn">--></button>
  </div>
</template>



<template name="post_preview_form">

  {{> afQuickField  name="title"}}
  {{> afQuickField  name="description"}}

    <div class="post-preview"> 
      {{> video media.[0]}}
    </div>
</template>

