<!-- Upload Modal -->
<template name="modal_upload">
  <div class="modal">
    <input class="modal-state" id="modal-upload" type="checkbox" />
    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-upload"></label>
        {{>upload}}
      </div>
    </div>
  </div>
</template>


<template name="upload">
  <div class="upload">
      <h1>Submit video</h1>
      <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
      <p class="body">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
  </div>
</template>
