<!-- Upload Modal -->
<template name="modal_upload">
  <div class="modal">
    <input class="modal-state" id="modal-upload" type="checkbox" />
    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-upload"></label>
        {{>upload}}
      </div>
    </div>
  </div>
</template>


<template name="upload">
  <div class="upload">
      <h1>Submit video</h1>

      <fieldset>
        {{#autoForm id="PostUploadPreview" collection="Models.Post" type="insert" doc=preview_post }}
            <div class="url-previewer">
            {{> afQuickField  name="url"}}
            </div>

            {{#if preview_post}}
                {{> post_preview_form preview_post }}
            {{/if}}
        {{/autoForm}}
      </fieldset>

      <button type="submit" class="submit btn">--></button>
  </div>
</template>



<template name="post_preview_form">

  <div class="post_metadata">
    <div class="metadata">
        {{> afQuickField  name="description"}}
        {{> afQuickField  name="tags"}}
    </div>

    <div class="post-preview"> 
      {{> afQuickField  name="title"}}
      {{> video media.[0]}}
    </div>
  </div>
</template>

