<template name="gridWrapper">
<div class="grid-wrapper {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>


<template name="gridItem">
    <a href="/w/{{_id}}" class="grid-item">
        <div class="back">
            <img src="{{ images.[0].thumbnail_url }}">
        </div>
        <div class="front">
          <h1 class="title">{{ title }}</h1>
          <h2 class="author">{{ author }}</h2>
        </div>
    </a>
</template>


<template name="videofeed">
  {{#gridWrapper class="videofeed"}}
    {{# each posts }}
      {{> gridItem this}}
    {{/each}}
  {{/gridWrapper}}
</template>
