<template name="gridWrapper">
  <div class="grid-wrapper">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="gridItem">
    <a href="/" class="grid-item">
      <div class="grid-item-holder">
        <div class="front">
          <div class="placeholder">
            <img src="{{ images.[0].thumbnail_url }}">
          </div>
        </div>
        <div class="back">
          <div class="back-content">
            <div class="back-content-holder">
              <h1>{{ title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </a>
</template>



<template name="videofeed">
  {{#gridWrapper}}
    {{# each posts }}
      {{> gridItem this}}
    {{/each}}
  {{/gridWrapper}}
</template>
